.weather-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    background: #f5f7fa;  
    color: #333;
    font-family: "Poppins", sans-serif;
    gap: 30px;
}
